/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    list-style-type: none;
    /* list-style-position: inside; */
    border: 1px black solid;
  }

  .title {
    padding: 18px;
  }
  .title::first-letter {
    font-weight: 900;
    font-size: 20px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .accordion .title:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active .title:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .description {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  .code-container {
    display: flex;
  }

  .code {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid black;
  }
  pre {
    white-space: pre-wrap;
  }

  .code-section-header {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
    background-color: orange;
  }