body {
  margin: 3% 5% auto;
  background-color: lightcyan;
}
.page-title {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 18px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px);
}
.header-row {
  display: flex;
  justify-content: space-between;
  background-color: cyan;
  margin-bottom: 25px;
}
.github-link {
  padding-top: 20px;
  padding-right: 20px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  list-style-type: none;
  border: 1px black solid;
}

.title {
  padding: 18px;
}
.title-row {
  cursor: pointer;
}
.title::first-letter {
  font-weight: 900;
  font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  height: auto;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.accordion .title:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active .title:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}

.description {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.code-container {
  display: flex;
  flex-direction: row;
}

.code {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .code-container {
    flex-direction: column;
  }
  .code {
    width: 96%;
  }
}

pre {
  white-space: pre-wrap;
}

.code-section-header {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
  background-color: orange;
  padding: 5px;
}

.principles-list-container {
  margin-left: 0px;
  margin-block-start: 0;
  padding-inline-start: 0px;
}
